
.home{
    width: 100%;
    position: relative;
}

                            /*<header>Header</header>*/
.headerSection{
    width:100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #999;
    display: flex;
    position: relative;
    padding-left: 7.5%;
}

.headerSectionLogo{
    width:140px;
    padding-top: 7px;
}
.headerSectionLogo img{
    width:100%;
}

.headerSectionNav{
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}

.headerSectionNav a{
    /*font-weight: bold;*/
    font-size: 18px;
}

.headerSectionNav a:hover{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}

.headerSectionRight{
    display: flex;
    width: 160px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 7.5%;
}

.headerSectionRight a{
    /*text-align: center;*/
    font-size: 12px;
}

                            /*<div className='section1'>Section 1</div>*/
.section1{
    width:100%;
    height: 345px;
    background-color: #d3f1ff;   
    border-bottom: 5px solid #333;
}

                            /*<div className='section2'>Section 2</div>*/
.section2{
    width:100%;
    height:150px;
    background-color: #666
}

                            /*<div className='whatsNewSection'>What's New</div>*/
.whatsNewSection{
    width:100%;
    height: 450px;
    background-color: white;
}

                            /*<div className='appsAndGamesSection'>Apps and Games</div>*/
.appsAndGamesSection{
    width:100%;
    min-height: 1000px;
    height: fit-content;
    background-color: #f7f7f7;
}

                            /*<div className='alexaSection'>Alexa Yo!</div>*/
.alexaSection{
    width:100%;
    min-height: 800px;
    height: fit-content;
    background-color: white;
}

                            /*<div className='servicesAndAPIsSection'>Services and APIs</div>*/
.servicesAndAPIsSection{
    width:100%;
    min-height: 900px;
    height: fit-content;
    background-color: #f7f7f7;
}

                            /*<div className='devicesSection'>Devices</div>*/
.devicesSection{
    width:100%;
    min-height: 900px;
    height: fit-content;
    background-color: white;
}

                            /*<div className='socialMediaStrip'>Social Media</div>*/
.socialMediaStrip{
    width:100%;
    height: 60px;
    background-color: #eee;
}

                            /*<div className='footerSection'>I am a footer</div>*/
.footerSection{
    width:100%;
    height: fit-content;
    min-height: 620px;
    background-color: #666;
}

                            /*<div className='allRightsReserved'>All Rights Reserved</div>*/
.allRightsReserved{
    width:100%;
    height:75px;
    background-color:#333;
}



