
.home{
    width: 100%;
    position: relative;
}

                            /*<header>Header</header>*/
.headerSection{
    width:100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #999;
    display: flex;
    position: fixed;
    /*padding-left: 7.5%;*/
    z-index: 999;
}

.headerSectionPageDrop{
    width:100%;
    height: 70px;
    border-bottom: 1px solid #999;
    /*position: relative;*/
}

.headerSectionWrapper{
    width: 95%;
    max-width: 1400px;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #999;
    display: flex;
    z-index: 999;
    margin: 0 auto;
    position: relative;
}

.headerSectionLogo{
    width:140px;
    padding-top: 7px;
}
.headerSectionLogo img{
    width:100%;
}

.headerSectionNav{
    display: flex;
    width: 60%;
    max-width: 700px;
    justify-content: space-around;
    align-items: center;
}

.headerSectionNav a{
    font-size: 16px;
}

.headerSectionNav a:hover{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}

.headerSectionRight{
    display: flex;
    width: 160px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0px;
}

.headerSectionRight a{
    font-size: 12px;
}

                            /*<div className='section1'>Section 1</div>*/
.section1{
    width:100%;
    padding: 10px;
    background-color: #d3f1ff;   
    border-bottom: 5px solid #333;
    display: flex;
    justify-content: center;
}

.section1Left{
    height: 330px;
    width: 45%;
    display: inline-block;
}

.section1LeftContent{
    text-align: left;
    width: 600px;
    height: auto;
    margin: 8% auto;
    /*position: relative;*/
}

.section1LeftContent h3{
    /*transform: scaleX(1);*/
    font-size: 40px;
    line-height: 60px; 
}
.section1LeftContent h1{
    line-height: 40px;
}
.section1LeftContent a{
    color: blue;
}
.section1LeftContent a:hover{
    cursor: pointer;
}

.section1Right{
    height: 330px;
    width: 35%;
}

.section1Right img{
    height: 100%;
}

                            /*<div className='section2'>Section 2</div>*/
.section2{
    width:100%;
    /*height:150px;*/
    background-color: #666;
}

.section2ContentContainer{
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    /*height: 100%;*/
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
}

.section2Content{
    height: 150px;
    width: 19%;
    max-width: 250px;
    /*background-color: orange;*/
    margin: 1px;
    /*display: inline-block;*/
}

.section2Content img{
    width: 120px;
}
.section2Content h3{
    font-size: 17px;
    font-weight: bold;
    color: #eee;
    margin-bottom: 8px;
}
.section2Content h1{
    font-size: 12px;
    color: #ddd;
}

.section2Content:hover h3{
    color: orange;
}

                            /*<div className='whatsNewSection'>What's New</div>*/
.whatsNewSection{
    width:100%;
    /*height: 450px;*/
    background-color: white;
}

.whatsNewSectionMainParent{
    width: 95%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
}

.whatsNewSectionTitle{
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    float: left;
    margin-bottom: 20px;
}

.whatsNewSectionLeft{
    width:75%;
    padding: 50px 20px;
    height: 470px;
    position: relative;
}

.whatsNewSectionLeftContentContainer{
    width: 95%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;

}

.whatsNewSectionLeftContent{
    width: 23%;
    height: 300px;
    margin: 1px;
}
.whatsNewSectionLeftContent img{
    width:100%;
}
.whatsNewSectionLeftContent h3{
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
    line-height: 25px;
}
.whatsNewSectionLeftContent h1{
    font-size: 16px;
    line-height: 20px;
}

.whatsNewSectionRight{
    border-left: 1px solid lightgrey;
    width:20%;
    height: 470px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.whatsNewSectionRight a{
    margin-bottom: 20px;
    color: blue;
}
.whatsNewSectionRight a:hover{
    cursor: pointer;
    color:orange;
    text-decoration: underline;
}

                            /*<div className='appsAndGamesSection'>Apps and Games</div>*/
.appsAndGamesSection{
    width:100%;
    height: fit-content;
    background-color: #f7f7f7;
}

.repeatingOuterContainer{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.repeatingContentContainer{
    width: 60%;
    padding-top: 60px;
    padding-right: 140px;
    text-align: left;
}

.repeatingContentTitle{
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.repeatingContentSummary{
    font-size: 15px;
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 50px;
}

.repeatingContentListItem{
    display: flex;
    margin-bottom: 20px;
}

    .repeatingContentListItem img{
        margin-right: 50px;
    }

    .repeatingContentListItem h3{
        font-size: 30px;
        font-weight: lighter;
        line-height: 50px;
    }

    .repeatingContentListItem h1{
        font-size:15px;
        font-weight: lighter;
        line-height: 25px;
    }

.repeatingImageContainer{
    position: relative;
    width: 40%;
    padding-top: 200px;
    padding-bottom: 50px;
}

.repeatingImageContainer img{
    margin-right: 100px;
    width: 100%;
}


                            /*<div className='alexaSection'>Alexa Yo!</div>*/
.alexaSection{
    width:100%;
    height: fit-content;
    background-color: white;
}

                            /*<div className='servicesAndAPIsSection'>Services and APIs</div>*/
.servicesAndAPIsSection{
    width:100%;
    height: fit-content;
    background-color: #f7f7f7;
}

.servicesAndAPIsListItemsContainer{
    display: flex;
    flex-wrap: wrap;
}
.servicesAndAPIsListItem{
    display: flex;
    margin-bottom: 20px;
    width: 50%;
}

    .servicesAndAPIsListItem img{
        margin-right: 50px;
    }

    .servicesAndAPIsListItem h3{
        font-size: 30px;
        font-weight: lighter;
        line-height: 50px;
    }

    .servicesAndAPIsListItem a{
        color: blue;
        font-size:15px;
        font-weight: lighter;
        line-height: 25px;
        width: fit-content;
    }
    .servicesAndAPIsListItem a:hover{
        color: orange;
        cursor: pointer;
    }

                            /*<div className='devicesSection'>Devices</div>*/
.devicesSection{
    width:100%;
    height: fit-content;
    background-color: white;
}

                            /*<div className='socialMediaStrip'>Social Media</div>*/
.socialMediaStrip{
    width:100%;
    height: 60px;
    background-color: #eee;
    position: relative;
}

.socialMediaStripContent{
    height: 100%;
    position: absolute;
    right: 15%;
    display: flex;
    align-items: center;
}
.socialMediaStripContent h1{
    color: #555;
    font-weight: bold;
    margin:auto 5px;
}
.socialMediaStripContent img{
    margin: auto 2px;
}

                            /*<div className='footerSection'>I am a footer</div>*/
.footerSection{
    width:100%;
    height: fit-content;
    background-color: #666;
}

.footerSectionContentContainerWrapper{
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footerSectionContentContainer{
    width: 33.33%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.footerSectionContentContainer div{
    width: 50%;
    max-width: 150px;
    text-align: left;
}
.footerSectionContentContainer h3{
    color: #ddd;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 17px;
}
.footerSectionContentContainer h1{
    color: #ddd;
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 17px
}

.footerSectionContentContainer h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

                            /*<div className='allRightsReserved'>All Rights Reserved</div>*/
.allRightsReserved{
    width:100%;
    background-color:#333;
    padding:25px 0;
}
.allRightsReserved h1{
    font-weight: lighter;
    color: #ddd;
}



