
.home{
    width: 100%;
    position: relative;
}

                            /*<header>Header</header>*/
.headerSection{
    width:100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #999;
    display: flex;
    position: fixed;
    /*padding-left: 7.5%;*/
    z-index: 999;
}

.headerSectionPageDrop{
    width:100%;
    height: 70px;
    border-bottom: 1px solid #999;
    /*position: relative;*/
}

.headerSectionWrapper{
    width: 95%;
    max-width: 1400px;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #999;
    display: flex;
    z-index: 999;
    margin: 0 auto;
    position: relative;
}

.headerSectionLogo{
    width:140px;
    padding-top: 7px;
}
.headerSectionLogo img{
    width:100%;
}

.headerSectionNav{
    display: flex;
    width: 60%;
    max-width: 700px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.headerSectionNav span{
    height: 100%;
    padding: 25px 0;
}
.headerSectionNav a{
    font-size: 16px;
}
.headerSectionHamNav{
    display: none;
}

.headerSectionNav a:hover{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}

.headerSectionRight{
    display: flex;
    width: 160px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0px;
}

.headerSectionRight a{
    font-size: 12px;
}

                            /*<div className='section1'>Section 1</div>*/
.section1{
    width:100%;
    padding: 10px;
    background-color: #d3f1ff;   
    border-bottom: 5px solid #333;
    display: flex;
    justify-content: center;
}

.section1Left{
    height: 330px;
    width: 45%;
    display: inline-block;
}

.section1LeftContent{
    text-align: left;
    width: 600px;
    height: auto;
    margin: 8% auto;
    /*position: relative;*/
}

.section1LeftContent h3{
    /*transform: scaleX(1);*/
    font-size: 40px;
    line-height: 60px; 
}
.section1LeftContent h1{
    line-height: 40px;
}
.section1LeftContent a{
    color: blue;
}
.section1LeftContent a:hover{
    cursor: pointer;
}

.section1Right{
    height: 330px;
    width: 35%;
}

.section1Right img{
    height: 100%;
}

                            /*<div className='section2'>Section 2</div>*/
.section2{
    width:100%;
    /*height:150px;*/
    background-color: #666;
}

.section2ContentContainer{
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    /*height: 100%;*/
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
}

.section2Content{
    height: 150px;
    width: 19%;
    max-width: 250px;
    /*background-color: orange;*/
    margin: 1px;
    /*display: inline-block;*/
}

.section2Content img{
    width: 120px;
}
.section2Content h3{
    font-size: 17px;
    font-weight: bold;
    color: #eee;
    margin-bottom: 8px;
}
.section2Content h1{
    font-size: 12px;
    color: #ddd;
}

.section2Content:hover h3{
    color: orange;
}

                            /*<div className='whatsNewSection'>What's New</div>*/
.whatsNewSection{
    width:100%;
    /*height: 450px;*/
    background-color: white;
}

.whatsNewSectionMainParent{
    width: 95%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
}

.whatsNewSectionTitle{
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    float: left;
    margin-bottom: 20px;
}

.whatsNewSectionLeft{
    width:75%;
    padding: 50px 20px;
    height: 470px;
    position: relative;
}

.whatsNewSectionLeftContentContainer{
    width: 95%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;

}

.whatsNewSectionLeftContent{
    width: 23%;
    height: 300px;
    margin: 1px;
}
.whatsNewSectionLeftContent img{
    width:100%;
}
.whatsNewSectionLeftContent h3{
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
    line-height: 25px;
}
.whatsNewSectionLeftContent h1{
    font-size: 16px;
    line-height: 20px;
}

.whatsNewSectionRight{
    border-left: 1px solid lightgrey;
    width:20%;
    height: 470px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.whatsNewSectionRight a{
    margin-bottom: 20px;
    color: blue;
}
.whatsNewSectionRight a:hover{
    cursor: pointer;
    color:orange;
    text-decoration: underline;
}

                            /*<div className='appsAndGamesSection'>Apps and Games</div>*/
.appsAndGamesSection{
    width:100%;
    height: fit-content;
    background-color: #f7f7f7;
}

.repeatingOuterContainer{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.repeatingContentContainer{
    width: 60%;
    padding-top: 60px;
    padding-right: 140px;
    text-align: left;
}
.repeatingContentContainerAlexa{
    width: 60%;
    padding-top: 60px;
    padding-right: 0px;
    padding-left:150px;
    text-align: left;
}

.repeatingContentTitle{
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.repeatingContentSummary{
    font-size: 15px;
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 50px;
}

.repeatingContentListItem{
    display: flex;
    margin-bottom: 20px;
}

    .repeatingContentListItem img{
        margin-right: 50px;
    }

    .repeatingContentListItem h3{
        font-size: 30px;
        font-weight: lighter;
        line-height: 50px;
    }

    .repeatingContentListItem h1{
        font-size:15px;
        font-weight: lighter;
        line-height: 25px;
    }

.repeatingImageContainer{
    position: relative;
    width: 40%;
    padding-top: 200px;
    padding-bottom: 50px;
}

.repeatingImageContainer img{
    margin-right: 100px;
    width: 100%;
}


                            /*<div className='alexaSection'>Alexa Yo!</div>*/
.alexaSection{
    width:100%;
    height: fit-content;
    background-color: white;
}

                            /*<div className='servicesAndAPIsSection'>Services and APIs</div>*/
.servicesAndAPIsSection{
    width:100%;
    height: fit-content;
    background-color: #f7f7f7;
}

.servicesAndAPIsListItemsContainer{
    display: flex;
    flex-wrap: wrap;
}
.servicesAndAPIsListItem{
    display: flex;
    margin-bottom: 20px;
    width: 50%;
}

    .servicesAndAPIsListItem img{
        margin-right: 50px;
    }

    .servicesAndAPIsListItem h3{
        font-size: 30px;
        font-weight: lighter;
        line-height: 50px;
    }

    .servicesAndAPIsListItem a{
        color: blue;
        font-size:15px;
        font-weight: lighter;
        line-height: 25px;
        width: fit-content;
    }
    .servicesAndAPIsListItem a:hover{
        color: orange;
        cursor: pointer;
    }

                            /*<div className='devicesSection'>Devices</div>*/
.devicesSection{
    width:100%;
    height: fit-content;
    background-color: white;
}

                            /*<div className='socialMediaStrip'>Social Media</div>*/
.socialMediaStrip{
    width:100%;
    height: 60px;
    background-color: #eee;
    position: relative;
}

.socialMediaStripContent{
    height: 100%;
    position: absolute;
    right: 15%;
    display: flex;
    align-items: center;
}
.socialMediaStripContent h1{
    color: #555;
    font-weight: bold;
    margin:auto 5px;
}
.socialMediaStripContent img{
    margin: auto 2px;
}

                            /*<div className='footerSection'>I am a footer</div>*/
.footerSection{
    width:100%;
    height: fit-content;
    background-color: #666;
}

.footerSectionContentContainerWrapper{
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footerSectionContentContainer{
    width: 33.33%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.footerSectionContentContainer div{
    width: 50%;
    max-width: 150px;
    text-align: left;
}
.footerSectionContentContainer h3{
    color: #ddd;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 17px;
}
.footerSectionContentContainer h1{
    color: #ddd;
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 17px
}

.footerSectionContentContainer h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

                            /*<div className='allRightsReserved'>All Rights Reserved</div>*/
.allRightsReserved{
    width:100%;
    background-color:#333;
    padding:25px 0;
}
.allRightsReserved h1{
    font-weight: lighter;
    color: #ddd;
}

                            /*----------------mainDropMenu-------------------*/

.headerSectionNav span:hover .mainDropMenuContainerWrapper{
    display: block;
}
.mainDropMenuContainerWrapper{
    width: 100%;
    position: fixed;
    top:70px;
    left:0px;
    display: none;
}
.mainDropMenuContainer{
    border: 1px solid #ccc;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.dropMenuLeft{
    width: 25%;
    min-height: 420px;
    background: #fff;
    text-align: left;
    padding: 25px;
}
.dropMenuLeft h3{
    font-size: 18px;
    color: black;
    line-height: 30px;
}
.dropMenuLeft h1{
    font-size: 13px;
    color: #777;
    line-height: 16px;
}
.dropMenuLeft h1:hover{
    color: orange;
}

.dropMenuRight{
    width: 75%;
    min-height: 420px;
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.dropMenuRight div{
    width: 30%;
    /*height: 40%;*/
    text-align: left;
}
.dropMenuRight h3{
    color: #777;
    font-size: 18px;
    line-height: 30px;
}
.dropMenuRight h1{
    font-size: 13px;
    color: black;
    line-height: 25px;
}
.dropMenuRight h1:hover{
    color: orange;
}

@media (max-width: 950px){
    
                       /*-------------header-------------*/
.headerSection{
    width: 100%;
}
.headerSectionWrapper{
    width: 90%;
}

.headerSectionLogo{
    width:100px;
    padding-top: 13px;
}

.headerSectionHamNav{
    display: block;
    padding: 15px 15px 15px 0;
}
.headerSectionHamNav img{
    width: 30px;
    height: auto;
}
.headerSectionNav{
    display: none;
}
.headerLanguageSelect{
    display: none;
}
.headerSectionRight{
        width: 100px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0px;
}

.headerSectionRight a{
    font-size: 12px;
}
                                    /*--------------section1-------------*/

.section1{
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.section1Left{
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}

.section1LeftContent{
    max-width: 400px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.section1LeftContent h3{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px; 
}
.section1LeftContent h1{
    line-height: 20px;
}

.section1Right{
    height: auto;
    width: auto;
}

.section1Right img{
    width: 300px;
}
                            /*-----------section2-------*/

.section2Content{
    height: fit-content;
}

.section2Content img{
    width: 100%;
    max-width: 80px;
}
.section2Content h3{
    font-size: 15px;
    font-weight: normal;
}
.section2Content h1{
    display: none;
}

.section2Content:hover h3{
    color: orange;
}

                        /*------------what new section-----------*/

.whatsNewSection{
    height: fit-content;
    background: white;
}

.whatsNewSectionMainParent{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
}

.whatsNewSectionTitle{
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    margin-bottom: 30px;
}

.whatsNewSectionLeft{
    width:100%;
    padding: 50px 20px;
    height: fit-content;
    position: initial;
    margin: 0; 
}

.whatsNewSectionLeftContentContainer{
    width: 100%;
    position: initial;
    bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center space-between;
}

.whatsNewSectionLeftContent{
    min-width: 300px;
    width: 45%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
}
.whatsNewSectionLeftContent img{
    width:100%;
}
.whatsNewSectionLeftContent h3{
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
    line-height: 25px;
}
.whatsNewSectionLeftContent h1{
    font-size: 16px;
    line-height: 20px;
}

.whatsNewSectionRight{
    border-left: none;
    margin-left: 20px;
    width:auto;
    height: fit-content;
}

                        /*-------reusable-------*/


.repeatingContentContainer{
        width: 100%; 
        padding-top: 30px;
        padding-right: 20px;
        /*background: pink;*/
}
.repeatingContentContainerAlexa{
        width: 100%; 
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 0px;
        /*background: pink;*/
}

.repeatingContentTitle{
        font-size: 30px;
        font-weight: normal;
}

.repeatingContentSummary{
        margin-bottom: 30px;
}

.repeatingContentListItem{
        border-top: 1px solid lightgrey;
        margin-bottom: 10px;
        padding-top: 10px;
}

.repeatingContentListItem img{
        width: 50px;
        margin-right: 30px;
}

.repeatingContentListItem h3{
        font-size: 20px;
        font-weight: normal;
        line-height: 30px;
}

.repeatingContentListItem h1{
    font-size:15px;
    font-weight: lighter;
    line-height: 25px;
}

.repeatingImageContainer img{
    margin-right: 0px;
}
.repeatingImageContainer{
    display: none;
}

                        /*-----------services and apis-----------*/

.servicesAndAPIsListItemsContainer{
        flex-direction: column;
        flex-wrap: nowrap;
}
.servicesAndAPIsListItem{
        border-top: 1px solid lightgrey;
        width: 100%;
        padding: 10px;
}

.servicesAndAPIsListItem img{
        padding-top: 10px;
        margin-right: 30px;
        width: 70px;
}

.servicesAndAPIsListItem h3{
        font-size: 20px;
        font-weight: normal;
        line-height: 40px;
}

.servicesAndAPIsListItem a{
        line-height: 22px;
}

                            /*<div className='footerSection'>I am a footer</div>*/

.footerSectionContentContainerWrapper{
        flex-direction: column;
        justify-content: space-between;
}

.footerSectionContentContainer{
        width: 100%;
        padding: 20px 0;
}


}




